body{
    background-color: #eee;
}
ul{
    list-style-type: none;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-left: 0px;
}
li{
    border-bottom: solid 1px #ddd;
    padding: 15px;
}

table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #78F578;
}
tr:nth-child(even){
    background-color: #fff;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
}

table th{
    background-color:#F8EE1E ;
    color: black;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}